.background-image {
    background-image: url("Desktop_-_1.png");
    background-repeat: no-repeat;
    
}

@font-face {
    font-family: "Karma";
    src: url("fonts/Karma-Medium.ttf");
}

@font-face {
    font-family:"Jacques Francois"; 
    src: url("fonts/JacquesFrancois-Regular.ttf");
}

.nav-link {
    font-family: "karma";
    font-size: 32px;
    font-weight: 600;
    line-height: 49.41px;
    margin-left: 45px;
    margin-top: 54px;
}

.img1 {
    position: absolute;
    top: 0px;
}

.toggler {
    margin-top: 45px;
    margin-left: 30px;
}

.img3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.jellyfish {
    font-weight: 400;
    line-height: 250.58px;
    margin-left: 100px;
    background: linear-gradient(93.7deg, rgba(255, 0, 77, 0.44) -4.84%, rgba(10, 65, 125, 0.44) 49.03%, rgba(222, 27, 168, 0.44) 101.79%);
    font-size: 190px;
    font-family: "Jacques Francois";
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.img4 {
    position: absolute;
    top: 35px;
    right: 0px;
   width: 46%;
}

.p1 {
    color: white;
    font-size: 26px;
    font-weight: 400;
    line-height: 34.42px;
    text-align: left;
    position: absolute;
    left: 250px;
    list-style-type: none;
    -webkit-mask-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 200, 0) 94.27%);
    mask-image:  linear-gradient(180deg, #FFFFFF 0%, rgba(200, 200, 200, 0) 94.27%);  
}

.ptag1 {
    font-size: 25px;
    font-weight: 400;
    line-height: 36.33px;
    letter-spacing: 0.11em;
    margin-left: 135px;
    color: white;
}

.ms-3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 52.1px;
    color:white;
    position: absolute;
    top: 19cm;
    left: 55px;
}

.ultag {
    font-size: 20px;
    font-weight: 700;
    line-height: 42.33px;
    color: white;
    position: absolute;
    top: 20.5cm;
    left: 55px;
}

.images {
    display: flex;
    justify-content: flex end;
    align-items: flex-end;
    position: absolute;
    top: 22cm;
    right: 0;
}


